/*
Colors used:
Primary Color (Blue): #1B3049;
Primary Light : #465975;
Primary Dark : #000622;
Primary Text : #FFFFFF;

Secondary Color (Pink): #f2918f;
  Secondary Light : #ffc2bf;
Secondary Dark : #A93F21;
Secondary Text : #000000;
*/
/*
Fonts used:
Heading: Montserrat;
Subheading:Libre Franklin (Bold);
Body: Amiko;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Amiko', sans-serif;
  font-size: 16px;
}

header {
  background-color: #1B3049;
  padding: 10px 0 4px;
  box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.58);
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  padding-top: 45px;
  color: #000000;
}

footer {
  background-color: #1B3049;
  color: #FFFFFF;
}

.copyright {
  opacity: 0.6;
  font-size: 0.75em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h2 {
  font-family: 'legalibre Franklin', sans-serif;
  font-size: 1.75em;
  font-weight: 300;
}

h3 {
  font-family: 'legalibre Franklin', sans-serif;
  font-size: 1.5em;
}

img {
  width: 100%;
}

.picture {
  z-index: 1;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f2918f;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

a {
  color: #f2918f;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #A93F21;
}

a:hover {
  color: #A93F21;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #A93F21;
  text-decoration: underline;
}

.logo {
  max-width: 150px;
  text-align: center;
}

.profile {
  width: 90%;
  max-width: 600px;
}

.button {
  display: inline-block;
  background-color: #f2918f;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #A93F21;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  color: #A93F21;
}

.button.contact:hover {
  background-color: #f2918f;
}

/*Thumbnail Settings */
.thumbnail {
  position: relative;
  max-width: 1200px;
}

.thumbnail__img {
  display: block;
  width: 100%;
}

.thumbnail__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1B3049;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.thumbnail__overlay--blur {
  backdrop-filter: blur(5px);
}

.thumbnail__overlay>* {
  transform: translateY(20px);
  transition: transform 0.25s;
  color: #ffffff;
}

.thumbnail__overlay:hover {
  opacity: 0.9;
}

.thumbnail__overlay:hover>* {
  transform: translateY(0);
}

.thumbnail__title {
  font-size: 2em;
  font-weight: bold;
}

.thumbnail__cta {
  font-size: 1.25em;
  margin-top: 0.25em;
}


/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#hero {
  background-color: #ffc2bf;
  align-items: center;
  display: inline-block;
}

#hero span {
  display: block;
}

#hero h1 {
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#contact {
  text-align: center;
}

#contact h2 {
  padding-top: 20px
}

#contact svg {
  margin-top: 10px;
  width: 25px;
}

.footer__icon {
  fill: #ffc2bf;
}

#contact span {
  display: block;
}

#aboutme h2, h3 {
  color: #1B3049;
}

#aboutme p, li {
  color: #465975;
  opacity: 0.9;
}

#project {
  color: black;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    padding-top: 30px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .logo {
    max-width: 250px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .profile {
    width: 70%;
    max-width: 600px;
    text-align: center;
  }

  #hero {
    padding: 20px 0;
    width: 70%;
  }

  #hero p {
    padding: 10px 30px;
  }

  main {
    padding-top: 100px;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.center {
  text-align: center;
}
